body {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.container {
    width: 350px;
}

.input-group {
    display: flex;
    gap: 5px;
}

input {
    flex: 1;
    padding: 5px;
}

button {
    padding: 5px 10px;
}

ul {
    padding: 0;
    margin-top: 15px;
}

li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.task {
    flex: 1;
    margin-left: 8px;
}

.done {
    text-decoration: line-through;
}